.page {
    max-width: 1400px;
    background-color:#8eb7cc ;
    margin: 0 auto;
}

.header {
    height: 600px;
    text-align: center;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.nav__links {
    margin-left: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style-type: none;
    margin-right: 30px;
}

.nav__link {
    color: white;
    font-size: 25px;
    line-height: 30px;
}


.nav__link {
    text-decoration: none;
    transition: 0.2s;
}


.nav__link:hover {
    color: skyblue;
}

.header__text {
    padding-top: 250px;
}

.header__title {
    color: white;
    margin: 0;
    font-size: 60px;
}

.user {
    width: 70%;
    height: 450px;
    margin: 0 auto;
}

.user__text {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.user__title {
    margin: 0;
    font-size: 30px;
    line-height: 35px;
    padding-top: 30px;
}
.form {
    max-width: 500px;
    margin: 0 auto;
}

.form__fieldset {
    margin: 20px 0;
    border: none;
}

.form__label {
    display: block;
    margin-bottom: 5px;
    color: #153b56;
}

.form__input,
.form__select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #0ef2e9;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 20px;
    color: #153b56;
}

.form__input::placeholder {
    color: #153b56;
}

.form__input:focus,
.form__select:focus {
    outline: none;
    border-color: #153b56;
}

.form__select option[disabled]:first-child {
    display: none;
}

.form__select option[selected] {
    background-color: #0ef2e9;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    background-color: #0ef2eabd;
    color: black;
    cursor: pointer;
}

.button:hover {
    background-color: #153b56;
}


.user__description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
}

.vote__images{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
}

.vote {
    text-align: center;
    padding-top: 80px;
}

.vote__title {
    font-size: 30px;
    line-height: 35px;
}

.vote__description {
    font-size: 20px;
    line-height: 25px;
}

.vote__images {
    width: 1000px;
    margin: 30px auto 0;
}

.vote__image {
    height: 300px;
    width: 300px;
}

.results__list {
    list-style-type: none;
}


.footer {
    height: 100px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}
