.page {
    max-width: 1400px;
    background-color:#8eb7cc ;
    margin: 0 auto;
}

.header {
    height: 600px;
    text-align: center;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.nav__links {
    margin-left: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style-type: none;
    margin-right: 30px;
}

.nav__link {
    color: white;
    font-size: 25px;
    line-height: 30px;
}


.nav__link {
    text-decoration: none;
    transition: 0.2s;
}

.nav__link:hover {
    color: skyblue;
}

.header__text {
    padding-top: 250px;
}

.header__title {
    color: white;
    margin: 0;
    font-size: 60px;
}

.vote__images{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
}

.vote {
    text-align: center;
}

.vote__title {
    font-size: 30px;
    line-height: 35px;
}

.vote__images {
    width: 1000px;
    margin: 30px auto 0;
}

.vote__image {
    height: 300px;
    width: 300px;
}

.footer {
    height: 100px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}
