.link {
    height: 30px;
    width: 500px;
    margin: 50px auto 10px;
    text-align: center;
}

.link__link {
    transform: translateY(-50%);
    padding: 10px;
    background-color: #65b8d8;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.link__link:hover {
    background-color: #4b9cb6;
}
