.user {
    width: 70%;
    height: 450px;
    margin: 0 auto;
}

.user__text {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.user__title {
    margin: 0;
    font-size: 30px;
    line-height: 35px;
    padding-top: 30px;
}

.user__description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
}
